### seiu

In [1]:
import pandas as pd

In [2]:
SEIU_COMMITTEES = pd.DataFrame([
    ['2005226', 'LOCAL 0032BJ PA AMERICAN DREAM FUND'],
    ['20150138', 'SEIU HEALTHCARE PA COPE'],
    ['8000703', 'PA SEIU COPE (SOC SVCS)'],
    ['9900041', 'PSSU LOCAL 668 SEIU COPE FUND'],
    ['20190384', 'SEIU CAREGIVERS ACTION']],
    columns=['Committee Number', 'Committee Name'])

EXPENSES_2023 = [
    # LOCAL 0032BJ PA AMERICAN DREAM FUND -- from own report
    ['387640', '2005226', 2023, '', 2, 'CMT ELECTED HELEN DEE SPADE', '', '', '', '', 15237, 20230322, 500, ''],
    ['387640', '2005226', 2023, '', 2, 'FRIENDS OF COREY OCONNOR', '', '', '', '', 15222, 20230322, 1000, ''],
    ['387640', '2005226', 2023, '', 2, 'FRIENDS OF SARA INNAMORATO', '', '', '', '', 15201, 20230322, 40000, ''],
    ['387640', '2005226', 2023, '', 2, 'BARB WARWICK FOR CITY COUNCIL', '', '', '', '', 15207, 20230411, 1000, ''],
    ['387640', '2005226', 2023, '', 2, 'FRIENDS OF BOB CHARLAND', '', '', '', '', 15203, 20230411, 1000, ''],
    ['387640', '2005226', 2023, '', 2, 'FRIENDS OF DEB GROSS', '', '', '', '', 15201, 20230411, 1000, ''],
    ['387640', '2005226', 2023, '', 2, 'FRIENDS OF KHARI MOSLEY', '', '', '', '', 15206, 20230411, 1000, ''],

    # SEIU HEALTHCARE PA COPE -- from own report
    ['386887', '20150138', 2023, '', 1, 'SHERI GRAUBERT', '', '', '', '', 15218, 20230307, 300, 'IN KIND INNAMORATO'],
    ['386887', '20150138', 2023, '', 1, 'CHRIS IVEY', '', '', '', '', 15218, 20230317, 4000, 'IN KIND NNAMORATO'],
    ['388044', '20150138', 2023, '', 2, 'FRIENDS OF SARA INNAMORATO', '', '', '', '', 15201, 20230403, 95000, ''],
    ['388044', '20150138', 2023, '', 2, 'FRIENDS OF DEB GROSS', '', '', '', '', 15206, 20230501, 1000, ''],
    ['388044', '20150138', 2023, '', 2, 'FRIENDS OF BOBBY WILSON', '', '', '', '', 15212, 20230501, 1000, ''],
    ['388044', '20150138', 2023, '', 2, 'BARB WARWICK FOR CITY COUNCIL', '', '', '', '', 15207, 20230501, 1000, ''],
    ['388044', '20150138', 2023, '', 2, 'FRIENDS OF KHARI MOSLEY', '', '', '', '', 15206, 20230501, 1000, ''],
    ['388044', '20150138', 2023, '', 2, 'FRIENDS OF BOB CHARLAND', '', '', '', '', 15203, 20230501, 1000, ''],

    # PA SEIU COPE (SOC SVCS) -- from own report
    ['386705', '8000703', 2023, '', 1, 'FRIENDS OF ARVIND VENKAT', '', '', '', '', 15090, 20230308, 250, ''],
    ['386705', '8000703', 2023, '', 1, 'LATASHA MAYES FOR STATE REPRESENTATIVE', '', '', '', '', 15206, 20230308, 250, ''],
    ['386705', '8000703', 2023, '', 1, 'SEIU', '', '', '', '', 15206, 20230125, 241.76, 'IN KIND LINDSEY WILLIAMS'],

    # PA SEIU COPE (SOC SVCS) -- from Innamo report
    ['0', '8000703', 2023, '', 2, 'ETC', '', '', '', '', 15201, 20230501, 50000, 'IN KIND INNAMORATO'],

    # PSSU LOCAL 668 SEIU COPE FUND -- from Innamo report
    ['0', '9900041', 2023, '', 2, 'FRIENDS OF SARA INNAMORATO', '', '', '', '', 15201, 20230428, 100000, ''],

    # 'SEIU CAREGIVERS ACTION' -- from own report
    ['388037', '20190384', 2023, '', 2, 'WFP', '', '', '', '', 15201, 20230425, 75000, 'IN KIND INNAMORATO']    
]

### Import all expenses, link to SEIU committees

In [3]:
names201221 = [
    'filer_id', 'election_year', 'cycle',
    'name', 'address1', 'address2', 'city', 'state', 'zipcode',
    'date', 'amount', 'description', 'blank'
]

names2022 = [
    'report_id', 'filer_id', 'election_year', 'filer_date', 'cycle',
    'name', 'address1', 'address2', 'city', 'state', 'zipcode',
    'date', 'amount', 'description'
]

expenses = pd.concat([
    pd.read_csv('input/expense_2012.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2013.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2014.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2015.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2016.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2017.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2018.csv', names=names201221, encoding='unicode_escape', skiprows=[1333, 22823, 62725, 108098]),
    pd.read_csv('input/expense_2019.csv', names=names201221, encoding='unicode_escape'),
    pd.read_csv('input/expense_2020.csv', names=names201221, encoding='unicode_escape', skiprows=[60172]),
    pd.read_csv('input/expense_2021.csv', names=names201221, encoding='unicode_escape', skiprows=[14403, 66485, 66486, 66487, 66488, 66489, 66490, 66491, 87279]),
    pd.read_csv('input/expense_2022.csv', usecols=names2022, names=names2022),
    pd.DataFrame(EXPENSES_2023, columns=names2022)
])

/var/folders/m6/nmg96kbd65n3tz43pzrdnnw00000gn/T/ipykernel_51941/1594577243.py:15: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('input/expense_2013.csv', names=names201221, encoding='unicode_escape'),

In [4]:
expenses = expenses[['filer_id', 'name', 'zipcode', 'date', 'amount', 'description']]

In [5]:
expenses.loc[expenses.description.isna(), 'description'] = ''
expenses.loc[expenses.name.isna(), 'name'] = ''

expenses['description'] = expenses.description.str.upper()
expenses['name'] = expenses.name.str.upper()
expenses['zipcode'] = expenses.zipcode.astype(str)

### Remove malformated vendor
expenses = expenses.drop(expenses[expenses['name'] == 'NCH SOFTWARE'].index)

expenses['date'] = pd.to_datetime(expenses.date, format='%Y%m%d')

In [6]:
expenses = pd.merge(expenses, SEIU_COMMITTEES, left_on='filer_id', right_on='Committee Number')

### Peduto-Ravenstahl

In [7]:
pd.pivot_table(expenses[
    (expenses.name.str.contains('PEDUTO')) &
    (expenses.date.dt.year.isin([2012, 2013]))
], index='Committee Name', values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

                                      amount
Committee Name
LOCAL 0032BJ PA AMERICAN DREAM FUND  25000.0
PA SEIU COPE (SOC SVCS)               5000.0

### Wilson-Harris

In [8]:
pd.pivot_table(expenses[
    (expenses.description.str.contains('BOBBY WILSON') |
    expenses.description.str.contains('DARLENE HARRIS')) &
    (expenses.date.dt.year == 2019)
], index=['Committee Name'], values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

                                       amount
Committee Name
LOCAL 0032BJ PA AMERICAN DREAM FUND  50385.18

In [9]:
pd.pivot_table(expenses[
    (expenses.name.str.contains('BOBBY WILSON')) &
    (expenses.date.dt.year == 2019)
], index='Committee Name', values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

                                      amount
Committee Name
LOCAL 0032BJ PA AMERICAN DREAM FUND  10000.0
SEIU HEALTHCARE PA COPE               2500.0

### Kinkead-Ravenstahl

In [10]:
expenses[
    (expenses.description.str.contains('KINKEAD') |
    expenses.description.str.contains('RAVENSTAHL')) &
    (expenses.date.dt.year.isin([2019, 2020]))
]

Empty DataFrame
Columns: [filer_id, name, zipcode, date, amount, description, Committee Number, Committee Name]
Index: []

In [11]:
pd.pivot_table(expenses[
    (expenses.name.str.contains('KINKEAD')) &
    (expenses.date.dt.year.isin([2019, 2020]))
], index='Committee Name', values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

                          amount
Committee Name
PA SEIU COPE (SOC SVCS)  52000.0

### Gainey-Peduto

In [12]:
pd.pivot_table(expenses[
    (expenses.name.isin(['ALLEGHENY COUNTY JUSTICE FOR ALL', 'GOOD JOBS PITTSBURGH'])) &
    (expenses.date.dt.year.isin([2021]))
], index=['Committee Name', 'name'], values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

# RED HORSE STRATEGIES ??

                                                                        amount
Committee Name                      name
SEIU CAREGIVERS ACTION              ALLEGHENY COUNTY JUSTICE FOR ALL  204000.0
SEIU HEALTHCARE PA COPE             ALLEGHENY COUNTY JUSTICE FOR ALL  150000.0
LOCAL 0032BJ PA AMERICAN DREAM FUND GOOD JOBS PITTSBURGH              100000.0

In [13]:
pd.pivot_table(expenses[
    (expenses.name.str.contains('PEDUTO')) &
    (expenses.date.dt.year.isin([2020, 2021]))
], index='Committee Name', values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

                                     amount
Committee Name
LOCAL 0032BJ PA AMERICAN DREAM FUND  4000.0

In [14]:
pd.pivot_table(expenses[
    (expenses.name.str.contains('GAINEY') |
     expenses.description.str.contains('GAINEY')) &
    (expenses.date.dt.year.isin([2020, 2021]))
], index='Committee Name', values='amount', aggfunc='sum').sort_values(by='amount', ascending=False)

                                     amount
Committee Name
LOCAL 0032BJ PA AMERICAN DREAM FUND  5000.0
SEIU HEALTHCARE PA COPE              5000.0
PSSU LOCAL 668 SEIU COPE FUND        1000.0

### Innamorato

In [15]:
pd.pivot_table(expenses[
    (expenses.name.str.contains('INNAMORATO') |
     expenses.description.str.contains('INNAMORATO')) &
    (expenses.date.dt.year == 2023)
], index='Committee Name', values='amount', aggfunc='sum', margins=True, margins_name='Total')

                                       amount
Committee Name
LOCAL 0032BJ PA AMERICAN DREAM FUND   40000.0
PA SEIU COPE (SOC SVCS)               50000.0
PSSU LOCAL 668 SEIU COPE FUND        100000.0
SEIU CAREGIVERS ACTION                75000.0
SEIU HEALTHCARE PA COPE               95300.0
Total                                360300.0

### SEIU total spend over time

In [16]:
totalspend = pd.pivot_table(
    expenses[
        (expenses.zipcode.str[:3].isin(['150', '151', '152'])) |
        (expenses.name.str.contains('BOBBY WILSON')) |
        (expenses.description.str.contains('BOBBY WILSON')) |
        (expenses.description.str.contains('DARLENE HARRIS')) |
        (expenses.name.str.contains('KINKEAD')) |
        (expenses.name.isin(['ALLEGHENY COUNTY JUSTICE FOR ALL', 'GOOD JOBS PITTSBURGH'])) |
        (expenses.name.str.contains('PEDUTO')) |
        (expenses.name.str.contains('INNAMORATO')) |
        (expenses.description.str.contains('INNAMORATO'))
    ],
    index='Committee Name',
    columns='election_year',
    values='amount',
    aggfunc='sum'
).fillna(0).transpose()

totalspend['Health-related'] = totalspend['SEIU HEALTHCARE PA COPE'] + totalspend['SEIU CAREGIVERS ACTION']

totalspend = totalspend.rename(columns={
    'LOCAL 0032BJ PA AMERICAN DREAM FUND': '32BJ',
    'PSSU LOCAL 668 SEIU COPE FUND': '668',
    'PA SEIU COPE (SOC SVCS)': 'State Council'
})

totalspend[['Health-related', '32BJ', '668', 'State Council']].to_csv('output/chart.csv')

KeyError: 'election_year'